.header {
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  padding: 0.5rem 0; /* по-малко пространство */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.link {
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.link[data-active] {
  background-color: #edf2ff;
  color: #1e3a8a;
}
