.header {
  background-color: color-mix(in srgb, var(--mantine-color-body) 88%, transparent);
  border-bottom: 1px solid var(--mantine-color-default-border);
  padding: 0.5rem 0; /* по-малко пространство */
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(12px);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-text);
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.link[data-active] {
  background-color: var(--mantine-color-primary-light);
  color: var(--mantine-color-primary-light-color);
}
